body{
    font-family: "Lato", "Verdana", sans-serif;
}

#map{
	height: 610px;
}

.legend-box{
/*	position: absolute;*/
	display: flex;
/*	top: 20px;*/
/*	right: 20px;*/
    padding: 6px;
    flex-flow: column wrap;
    height: 56px;
}
.legend-box div{
	display: inline-block;
}

.legend-icon{
	width: 18px;
	height: 18px;
    margin-top:3px;
    vertical-align: text-top;
    display: inline-block;
}

.legend-box .idp-camps .legend-icon,.idp-camps.legend-icon{
	background-color: #074803;
}
.legend-box .visible-damage .legend-icon,.visible-damage.legend-icon{
	background-color: #AA2300;
}
.legend-box .mapped-areas .legend-icon,.mapped-areas.legend-icon{
	background-color: #9BC1A9;
}
.legend-box .validated-areas .legend-icon,.validated-areas.legend-icon{
	background-color: #22AA00;
}
.idp-camps.legend-icon,.visible-damage.legend-icon,.mapped-areas.legend-icon,.validated-areas.legend-icon{
    margin-top:0px;
}

.legend-box .legend-label{
	font-size: 10pt;
	line-height: 28px;
    margin-left: 4px;
}
p{
    font-size: 10pt;
    line-height: 16pt;
    font-weight: 500;
}
h4{
    line-height: .4em;
    font-weight: 500;
}

div.legend-row{
	display: block;
}

.map-title{
	font-size: 14pt;
	padding: 6px;
	background-color: rgba(255,255,255,0.6);
	top: 4px;
/*	left: 50%;*/
/*	margin-left: 90px;*/
    right: 4px;
	width: 430px;
	position: absolute;
}

.leaflet-control-zoom a{
    border-radius: 0px !important;
    background-color: rgba(255,255,255,0.6);
}
.leaflet-bar{
    box-shadow: initial;
}

.btn-maximize{
    display: none;
}

@media (max-width: 720px){
    #map{
        height: 640px;
        overflow: visible;
    }
    .map-title{
/*        position: absolute;*/
        width: 100%;
/*        right: 0px;*/
/*        bottom: 0px;*/
/*        top: auto;*/
        position: relative;
        margin-top: -122px;
    }
    .btn-maximize{
        display: inline-block;
        position: absolute;
        top: 76px;
        left: 14px;
        width: 36px;
        height: 36px;
        background-image: url('../img/btn-maximize.png');
        background-size: 36px;
        background-color: rgba(255,255,255,0.6);
    }
}
